input_data/** filter=lfs diff=lfs merge=lfs -text
intermediate_data/input_data_optimisations/** filter=lfs diff=lfs merge=lfs -text
config/** filter=lfs diff=lfs merge=lfs -text
config/config.py filter=lfs diff=lfs merge=lfs -text
input_data/vehicle_sales_share_inputs.xlsx filter=lfs diff=lfs merge=lfs -text
